streamlit
langchain-groq
langchain
sentence-transformers
twilio
flask
transformers
torch
chromadb
fastapi
uvicorn
crewai
openai-whisper
vaderSentiment
coqui-tts
python-dotenv
pandas 
